@model Business.Interop.Data.OrderPositionDto

@{
	ViewData["Title"] = "Add position to order";
}    


<div class="content">
    <div class="mb-2">
        <a class="btn btn-outline-info btn-sm" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 1 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            <span class="oi oi-arrow-thick-left"></span> Назад
        </a>
    </div>
    <form asp-action="AddPosition">
        <input type="hidden" asp-for="@Model.OrderId">
        <div class="form-group">
            <label asp-for="WorkId" class="control-label"></label>
            <select asp-for="WorkId"  data-live-search="true" autocomplete="true" class="form-control" asp-items="ViewBag.WorkIds">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="WorkId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MechanicId" class="control-label"></label>
            <select asp-for="MechanicId" data-live-search="true" autocomplete="true" class="form-control" asp-items="ViewBag.MechanicIds">
                <option selected="selected" value=""></option>
            </select>
            <span asp-validation-for="MechanicId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Count" class="control-label"></label>
            <input type="number" asp-for="Count" asp-antiforgery="true" class="form-control" value="1" placeholder="Количество"/>
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="text-right">
            <input type="submit" value="Create" class="btn btn-primary w-25" />
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/AddPosition.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}